xmlsec==1.3.3
xmltodict
py-wsse
#fe_openti
dicttoxml
pysftp==0.2.8
suds-jurko
urllib3==1.25.10
num2words
xlsxwriter
pillow
requests<=2.20.0
PyMuPDF==1.16.6
payflow
pykhipu
#dependency of module website_form_builder
openupgradelib
